# Abaikan file video besar
*.mp4
*.MP4
*.mov
*.avi

# Abaikan folder data storage (Minio/Database)
minio_storage/
karangasem_admin/src/koneksi.php
karangasem/src/koneksi.php
karangasem_admin/src/vendor/
karangasem_admin/src/composer.json
karangasem_admin/src/composer.lock
karangasem/src/composer.json
karangasem/src/composer.lock
karangasem/src/vendor
