@import "../_config.css?v=2";

.container-potensi {
  display: flex;
  flex-direction: column;
  position: relative;

  gap: 1rem;
  margin: 4.5rem 1.5rem;
}

.section-1-potensi {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 2rem 1rem 2rem;

 

  padding: 12rem 2rem;
  border-radius: 3rem;
  color: white;

 
  position: relative;
  overflow: hidden;
  z-index: 1;
}




.potensi-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}


.section-1-potensi::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: -1;
}

.text-title-potensi{
  font-weight: bolder;
  font-size: 5rem;
}

.section-2-potensi {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.potensi-informasi {
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
  border-radius: 3rem;
  margin: 0rem 2rem 1rem 2rem;

  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}
.potensi-informasi-1 {
  flex-basis: 40%;

  position: relative;
  transition: height 0.4s ease-in-out;

}

.potensi-informasi-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  padding: 1rem;
  box-sizing: border-box;
  border-radius: 3rem;

  position: absolute;
  top: 0;
  left: 0;
}

.potensi-informasi-2 {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  padding: 2rem;
  transition: none;
}

.potensi-informasi-2-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.potensi-informasi-2-title .text-title {
  flex-grow: 1;
}

.potensi-informasi-2-content {
  color: #333;
  font-size: 0.9rem;
  line-height: 1.5;

 
  overflow: hidden;
  text-overflow: ellipsis;

  max-height: calc(0.9rem * 1.5 * 2);
  transition: max-height 0.4s ease-in-out;
}



a[id^="accordion-opener-"] span:last-child {
  display: none;
}
a[id^="accordion-opener-"] span:first-child {
  display: block;
}



.potensi-informasi.open .potensi-informasi-1 {

}
.potensi-informasi.open .potensi-informasi-2 {

}



.potensi-informasi.open a[id^="accordion-opener-"] span:last-child {
  display: block;
}
.potensi-informasi.open a[id^="accordion-opener-"] span:first-child {
  display: none;
}

.potensi-button {
  background-color: #e5eaf1;
  color: black;
  border-radius: 5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.potensi-button:hover {
  background-color: #d1d9e4;
  transform: scale(1.05);
}



@media (max-width: 768px) {
 
  .container-potensi {
    margin: 6rem 1.5rem;
  }
  .section-1-potensi {
    margin: 1rem 0;
    padding: 7rem 1.5rem;
    border-radius: 2rem;
  }
  .text-title-potensi{
    font-size: 3rem;
    font-weight: bolder !important;
  }
  .section-2-potensi {
    margin: 0;
    gap: 1.5rem;
  }

 
  .potensi-informasi {
    flex-direction: column;
    margin: 0 0 1rem 0;
    border-radius: 2rem;
  }

 
  .potensi-informasi-1 {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
    flex-basis: auto;
    width: 100%;

    order: 2;
  }

 
  .potensi-informasi-2 {
    flex-basis: auto;
    width: 100%;
    padding: 1.5rem;

    order: 1;
  }

 
  .potensi-informasi.open .potensi-informasi-1 {
    opacity: 1;
  }

 
 
  .potensi-informasi-1 img {
    position: relative;
    top: auto;
    left: auto;

    height: auto;
    aspect-ratio: 16 / 9;

    padding: 1rem;
    border-radius: 2.5rem;
  }

 
  .potensi-informasi-2-title .text-title {
    font-size: 1.5rem;
  }
}
