@import "../_config.css?v=2";

.container-lapor {
  display: flex;
  flex-direction: column;
  position: relative;

  gap: 1rem;
  margin: 7rem 1.5rem;
}



.header-lapor {
 
  width: 100%;
 
  margin: 0;
  padding: 0;
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-lapor img {
 

 
  width: 100%;
  height: auto;

 
  display: block;
  object-fit: cover;
  border-radius: 1rem;
}
.section-1-lapor {
  display: flex;
  flex-direction: column;
}

.section-1-1-lapor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.other-button {
  display: flex;
  padding: 1rem;
  border-radius: 2rem;
  gap: 0.3rem;

  background-color: #e5eaf1;
  text-decoration: none;

  color: black;

  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.last-ticket-box {
  display: none;

 
  width: fit-content;
  max-width: 95%;

 
  margin: 1rem 0;

 
  align-self: flex-start;
 

  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;

  padding: 0.75rem 1.25rem;
  background-color: #e3f2fd;
  border: 1px solid #91d0ff;
  border-radius: 1rem;

  color: #0d47a1;
  font-family: "Stack Sans Headline", sans-serif;
  font-size: 0.95rem;
  animation: fadeIn 0.5s ease-out;
}

.last-ticket-box strong {
  font-size: 1.1rem;
  color: #1565c0;
  margin: 0;
  letter-spacing: 1px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.btn-copy-ticket {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #5d9cec;
  transition: all 0.2s ease;
}

.btn-copy-ticket:hover {
  background-color: #bbdefb;
  color: #0d47a1;
}

.btn-copy-ticket span {
  font-size: 1.2rem;
}

.info-lapor {
  position: relative;
  margin-top: 1rem;
}


.info-lapor input,
.info-lapor textarea,
.info-lapor select {
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border: 1px solid #e5eaf1;
  border-radius: 1.5rem;
  padding: 1.25rem 1rem 0.75rem;
  color: #333;

 
  font-family: "Stack Sans Headline", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
}


.info-lapor input[type="file"] {
  padding-top: 1.5rem;
}


.info-lapor label {
  position: absolute;
  left: 1rem;
  top: 1rem;
  color: #999;
  transition: all 0.2s ease-out;
  pointer-events: none;

 
  font-family: "Stack Sans Headline", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;

 
  font-size: 1rem;
}




.info-lapor input:focus + label,
.info-lapor input:not(:placeholder-shown) + label,
.info-lapor textarea:focus + label,
.info-lapor textarea:not(:placeholder-shown) + label,
.info-lapor select:focus + label {
 
  top: 0.4rem;
 
  font-size: 0.75rem;
 
  color: #555;
}


.info-lapor select:valid + label {
  top: 0.4rem;
  font-size: 0.75rem;
  color: #555;
}



button[type="submit"] {
  background-color: #91d0ff;
  padding: 0.75rem 1rem;
  border-radius: 3rem;
  border: none;
  cursor: pointer;

 
  color: #333333;
 

  font-family: "Stack Sans Headline", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1.5rem;
}

button[type="submit"]:hover {
  background-color: #7bbdee;
}




.info-lapor input[type="file"]::file-selector-button {
 
  background-color: #91d0ff;
  color: #333;
  border: none;
  cursor: pointer;

 
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-right: 1rem;

 
  font-family: "Stack Sans Headline", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;

 
  transition: background-color 0.2s ease;
}


.info-lapor input[type="file"]::file-selector-button:hover {
  background-color: #7bbdee;
}


.info-lapor input[type="file"] {
  padding-top: 1.35rem;
  padding-left: 0.75rem;
}


.info-lapor input,
.info-lapor textarea,
.info-lapor select {
 

 
  font-family: "Stack Sans Headline", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #333;
}



.upload-gps-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: stretch;
  gap: 1rem;
  margin-top: 1rem;
}





.file-drop-area {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  flex: 1;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border: 2px dashed #e5eaf1;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}
.file-drop-area.drag-over {
  border-color: #91d0ff;
  background-color: #f0f8ff;
}
.file-drop-icon {
  font-size: 3rem;
  color: #91d0ff;
}
.file-drop-text-desktop {
  font-family: "Stack Sans Headline", sans-serif;
  font-weight: 500;
  color: #999;
  text-align: center;
}



.file-button-mobile {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  box-sizing: border-box;

 
  background-color: #91d0ff;
  color: #333;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;

  font-family: "Stack Sans Headline", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}
.file-button-mobile:hover {
  background-color: #7bbdee;
}


.file-upload-filename {
  margin-top: 0.5rem;
  font-family: "Stack Sans Headline", sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 0.95rem;
  display: none;
}



.file-drop-area {
  display: none;
}
.file-button-mobile {
  display: inline-flex;
}




.info-lapor input[required] + label::after,
.info-lapor select[required] + label::after,
.info-lapor textarea[required] + label::after {
  content: " *";
  color: #d93025;
  font-weight: 700;
}


.file-drop-text-desktop strong::after,
.file-button-text-mobile::after {
  content: " *";
  color: #d93025;
  font-weight: 700;
}



.gps-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.gps-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1 / 1;
  height: 100%;
  width: 100%;

  background-color: #f9f9f9;
  border: 1px solid #e5eaf1;
  border-radius: 1.5rem;
  cursor: pointer;

  color: black;
  transition: all 0.4s ease;
}

.gps-btn .material-symbols-rounded {
  font-size: 2rem;
}


.gps-btn.active {
  background-color: #62944f;
  border: 1px solid #b0d6a1;
  color: #f9f9f9;
}

#kirim-laporan {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}



.upload-progress {
  width: 100%;
  height: 8px;
  background: #e5eaf1;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 1rem;
  display: none;
}

.upload-progress-bar {
  width: 0%;
  height: 100%;
  background: linear-gradient(90deg, #91d0ff, #7bbdee);
  transition: width 0.15s ease;
}


.mobile-progress {
  margin-top: 0.5rem;
}



#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: none;
}

#popup-success {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 80%;
  max-width: 350px;

  background: white;
  border-radius: 1.5rem;
  padding: 2rem 1.5rem;
  text-align: center;

  z-index: 3;

  opacity: 0;
  display: none;
  transition: all 0.25s ease;
}

#popup-success.show {
  opacity: 1;
  display: block;
  transform: translate(-50%, -50%) scale(1);
}

.popup-icon span {
  font-size: 4rem;
  color: #62944f;
}

#popup-success h2 {
  font-family: "Stack Sans Headline", sans-serif;
  font-size: 1.7rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  color: #333;
}

#popup-close-btn {
  background-color: #91d0ff;
  color: #333;
  padding: 0.75rem 1rem;
  width: 100%;
  border-radius: 1rem;
  border: none;
  font-family: "Stack Sans Headline", sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#popup-close-btn:hover {
  background-color: #7bbdee;
}



#popup-warning {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 80%;
  max-width: 350px;

  background: white;
  border-radius: 1.5rem;
  padding: 2rem 1.5rem;
  text-align: center;

  z-index: 3;

  opacity: 0;
  display: none;
  transition: all 0.25s ease;
}

#popup-warning.show {
  opacity: 1;
  display: block;
  transform: translate(-50%, -50%) scale(1);
}

.popup-icon.warning span {
  font-size: 4rem;
  color: #d93025;
}

#popup-warning h2 {
  font-family: "Stack Sans Headline", sans-serif;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  color: #333;
}


#popup-warning-btn {
  background-color: #d93025;
  color: white;
  padding: 0.75rem 1rem;
  width: 100%;
  border-radius: 1rem;
  border: none;
  font-family: "Stack Sans Headline", sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#popup-warning-btn:hover {
  background-color: #b3251f;
}


.gps-btn {
  position: relative;
}


.gps-btn::after {
  content: "*";
  color: #d93025;
  font-weight: 700;
  font-size: 1.2rem;

  position: absolute;
  top: 2px;
  right: 6px;

  pointer-events: none;
}


.gps-btn.active::after {
  display: none;
}


.popup-input-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.popup-input-container.show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.popup-title {
    font-family: "Stack Sans Headline", sans-serif;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}


.input-ticket-box {
    width: 100%;
    padding: 12px;
    border: 2px solid #e5eaf1;
    border-radius: 10px;
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.btn-check-ticket {
    width: 100%;
    padding: 12px;
    background: #91d0ff;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
.btn-check-ticket:hover { background: #7bbdee; }


.timeline-scroll-area {
    max-height: 60vh;
    overflow-y: auto;
    padding-right: 5px;
}


.timeline {
  position: relative;
  margin: 20px 0;
  padding-left: 50px;
}


@keyframes flowUp {
  0% { background-position: 0 0; }
  100% { background-position: 0 -12px; }
}

.timeline::after {
  content: '';
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 19px;    
  width: 2px;
  background-image: linear-gradient(to bottom, #dcdcdc 50%, rgba(255,255,255,0) 0%);
  background-size: 2px 12px; 
  background-repeat: repeat-y;
  animation: flowUp 1s linear infinite;
  z-index: 0;
}

.timeline::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 14px;
  width: 10px;
  height: 10px;
  border-top: 3px solid #dcdcdc;
  border-right: 3px solid #dcdcdc;
  transform: rotate(-45deg);
  border-radius: 2px; 
  z-index: 1;
}

.timeline-item {
  position: relative;
  margin-bottom: 25px;
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: -39px;   
  top: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff; 
  border: 3px solid #bdc3c7; 
  box-shadow: 0 0 0 5px #fff; 
  z-index: 2;
}


.timeline-item:first-child::before {
  background: #2ecc71; 
  border-color: #2ecc71; 
  box-shadow: 0 0 0 5px #fff; 
}

.timeline-item:first-child .timeline-user { color: #2ecc71; }

.timeline-item:first-child .timeline-body {
  border-left: 4px solid #2ecc71; 
  background: #e8f8f5; 
}


.timeline-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.timeline-user {
  font-weight: bold;
  font-size: 0.95rem;
  color: #333;
}

.timeline-date {
  font-size: 0.75rem;
  color: #95a5a6;
}

.timeline-body {
  background: #f8f9fa;
  padding: 12px 15px;
  border-radius: 8px;
  font-size: 0.9rem;
  color: #333;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}


.t-status-menunggu .timeline-body { border-left: 4px solid #3498db; }
.t-status-diproses .timeline-body { border-left: 4px solid #f1c40f; }
.t-status-selesai .timeline-body { border-left: 4px solid #2ecc71; }
.t-status-ditolak .timeline-body { border-left: 4px solid #e74c3c; }


.timeline-item:not(:first-child).t-status-menunggu::before { border-color: #3498db; background: #3498db; }
.timeline-item:not(:first-child).t-status-diproses::before { border-color: #f1c40f; background: #f1c40f; }
.timeline-item:not(:first-child).t-status-selesai::before { border-color: #2ecc71; background: #2ecc71; }
.timeline-item:not(:first-child).t-status-ditolak::before { border-color: #e74c3c; background: #e74c3c; }


@media (min-width: 769px) {
  .header-lapor img {
    width: 100%;
    height: 50vh;

    display: block;
    object-fit: cover;
    border-radius: 2rem;
  }
  .file-drop-area {
    display: flex;
  }
  .file-button-mobile {
    display: none;
  }

  .header-lapor img {
    border-radius: 1rem;
  }

  .upload-gps-wrapper {
    grid-template-columns: 1fr auto;
  }

  .file-button-mobile {
    width: 100%;
  }
}
