* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Stack Sans Headline", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.text-title{
    font-weight: bold;
    font-size: 2rem;
}

.text-title-3rem{
    font-weight: bold;
    font-size: 3rem;
}

.text-bolder{
  font-weight: bolder;
  font-size: 4rem;
}


.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;

}




.site-footer {
  width: 100%;

  background-image: url('https://cdn.ivanaldorino.web.id/karangasem/websiteutama/footer.JPG');
  background-size: cover; 
  background-position: center; 
  
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.9rem;
  
  margin: 0;
}

.footer-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.footer-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    
}
.logo-footer img {
  height: 60px;
  width: auto;
}

.footer-1-2 img{
    height: 40px;
    width: auto;
}

.footer-2{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.footer-info{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    color: white;
    text-decoration: none;
}

.footer-info img {
  height: 20px; 
  width: auto; 
  
  filter: brightness(0) invert(1);
}

.footer-info p {
    font-size: 0.8rem; 
}

.footer-2{
    display: flex;
    flex-direction: column;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;

  transition: all 0.4s ease-in-out;
}

.nav-logo {
  height: 40px; 
  position: relative;
  width: 150px;
  align-items: center;
  justify-content: center;
}

.nav-logo img {
  height: 100%;
  width: auto;
  
  position: absolute;
  top: 0;
  
  left: 50%;
  transform: translateX(-50%);
  
  transition: opacity 0.4s ease-in-out, 
              left 0.4s ease-in-out, 
              transform 0.4s ease-in-out;
}

.navbar.navbar-scrolled .nav-logo img {
  left: 0;
  transform: translateX(0);
}

.navbar .logo-color {
  display: none;
}
.nav-buttons {
  display: none;
  gap: 0.5rem;
}
.nav-buttons a {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
}

.navbar-button {
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  color: rgb(0, 0, 0);
  
  background: linear-gradient(
    to left,
    #f9f9f9 50%,
    rgb(138, 138, 138) 50%
  );

  background-size: 200% 100%;

  background-position: 100% 0;

  transition: background-position 0.4s ease-in,
              color 0.4s ease-in;
}

.navbar-button:hover {
  color: white; 
  

  background-position: 0 0;
}


.navbar.navbar-scrolled {
  top: 1rem;
  left: 1rem;
  right: 1rem;
  width: calc(100% - 2rem);
  
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: #e0dfdf; 
  border: 1px solid #e0e0e0;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.navbar.navbar-scrolled .logo-color {
  display: block;
}
.navbar.navbar-scrolled .logo-white {
  display: none;
}
.navbar.navbar-scrolled .nav-buttons {
  display: flex;
}

.hamburger-menu {
  display: none; 
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  z-index: 1001;
}
.hamburger-menu .icon-close {
  display: none;
}


.liquidGlass-effect {
  position: absolute;
  z-index: 0;
  inset: 0;
  
  backdrop-filter: blur(2px);
  filter: url(#glass-distortion);
  
  overflow: hidden;
  isolation: isolate;
}

.liquidGlass-tint {
  z-index: 1;
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.15);
}

.liquidGlass-shine {
  position: absolute;
  inset: 0;
  z-index: 2;
  overflow: hidden;
  
  box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
    inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
}

.liquidGlass-text {
  z-index: 3;
  position: relative;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}


.button-landingpage > div {
   border-radius: 0.5rem;
}

.button-landingpage .liquidGlass-text p {
    margin: 0;
}

@media (max-width: 768px) {
    
    .footer-container{
        flex-direction: column;
        gap: 1rem;
    }
    .footer-1{
        width: 100%;
    }
    .navbar {
    justify-content: space-between;
  }

  .hamburger-menu {
    display: block;
    font-size: 2.2rem;
    color: white;
  }
  
  .navbar.navbar-scrolled:not(.nav-open) .hamburger-menu {
    color: #333;
  }

  .nav-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    z-index: 1000;
  }
  .navbar.nav-open .nav-buttons {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .nav-buttons a {
    background: #e5eaf1;
    color: #333;
    font-size: 1.5rem;
    padding: 1rem;
    width: 80%;
    text-align: center;
    border-radius: 1rem;
    background-position: 0 0; 
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .nav-buttons a:hover {
    background-color: #e0e0e0;
    color: #333;
  }
  .navbar.nav-open .hamburger-menu .icon-menu {
    display: none;
  }
  .navbar.nav-open .hamburger-menu .icon-close {
    display: block;
    color: #333;
  }
  .nav-logo img {
    left: 0;
    transform: translateX(0);
  }

}